UltraCalc.xcodeproj/project.xcworkspace/xcuserdata/bluebitch.xcuserdatad/UserInterfaceState.xcuserstate
UltraCalc.xcodeproj/xcuserdata/bluebitch.xcuserdatad/xcschemes/UltraCalc.xcscheme
UltraCalc.xcodeproj/xcuserdata/bluebitch.xcuserdatad/xcschemes/xcschememanagement.plist
UltraCalc.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store
